html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 99dvh;
  max-width: 99dvw;
  font-family: monospace;
  box-sizing: border-box;
  /* background-color: rgb(26, 25, 25); */
  background-image: url("/assets/DIGI52.webp");
  background-size: cover;
  color: white;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

.post {
  margin-bottom: 50px;
}

.feed {
  display: flex;
  width: 70%;
  height: 50dvh;
  flex-wrap: wrap;
  flex: 1 0 auto;
  padding: 3em;
  margin: 0 auto;
  overflow-y: auto;
  text-wrap: wrap;
  background: rgba(26, 25, 25, 80%);
  box-shadow: 0 0 10px 5px  rgba(26, 25, 25, 50%);
  border-radius: 2px;
}

@media screen and (min-width: 48.6em), (orientation: landscape) {
  .feed {
    width: 45%;
  }
}

.intro {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    font-size: 12px; 
    width: 85vw;
    padding: 10px 20px;
    border-bottom: 2px white solid;
}

.intro-text {
  display: inline;
}

.tlop-logo {
  display: block;
  margin: auto;
  width: 40%;
  padding-top: 20px;
}


@media screen and (min-width: 50em), (orientation: landscape) {
  .tlop-logo {
    width: 20%;
  }
}

.date-and-time {
  display: inline;
  padding-left: 10px;
}

.date,
.time {
  color: rgb(152, 184, 210);
  /* color: lightcoral; */
  font-size: 0.9em;
  font-weight: bold;
}

.blank {
    visibility: hidden;
    margin: 0;
    padding: 0;
} 

.avatar {
  display: inline;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  padding-bottom: 5px;
}

.post-picture {
  width: 80%;
}

@media screen and (min-width: 48.6em), (orientation: landscape) {
  .post-picture {
    width: 350px;
  }
}

iframe {
  border: none;
  overflow: hidden;
}

/* https://embedresponsively.com/ */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  margin: 10px auto;
  font-size: 10px;
  width: 85vw;
  padding: 10px 0px;
  border-top: 2px white solid;
  flex-shrink: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer > .quote {
  display: inline;
}

.footer > .footer-link {
  display: inline;
}

.copyright {
  font-style: italic;
  text-align: center;
  padding-top: 15px;
}

/* fuck you animation */

.circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: spinny 5s 0s reverse infinite linear;
    background-color: transparent;
}

.slice p {
    transform: rotate(90deg);
    font-family: monospace;
    font-style: italic;
    font-size: .7rem;
    margin: 15px;
    color: rgb(152, 184, 210);
}

p.heart {
    color: pink;
}

.slice {
    position: absolute;
    left: 300px;
    width: 15%;
    height: 50%;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background-color: transparent;
}

.one {
    left: 108px;
    top: 5px;
    border-radius: 100%;
    transform: rotate(24deg);
}

.two {
    left: 70px;
    top: 2px;
    border-radius: 100%;
    transform: rotate(-20deg);
}

.three {
    left: 44px;
    top: 20px;
    border-radius: 100%;
    transform: rotate(-55deg);
}

.four {
   left: 35px;
    top: 50px;
    border-radius: 100%;
    transform: rotate(-90deg);
}

.five {
   left: 46px;
    top: 80px;
    border-radius: 100%;
    transform: rotate(-130deg);
}

.six {
   left: 73px;
    top: 98px;
    border-radius: 100%;
    transform: rotate(-170deg);
}

.seven {
   left: 106px;
    top: 93px;
    border-radius: 100%;
    transform: rotate(-210deg);
}

.eight {
   left: 129px;
    top: 70px;
    border-radius: 100%;
    transform: rotate(-250deg);
}

.nine {
   left: 130px;
    top: 32px;
    border-radius: 100%;
    transform: rotate(-290deg);
    
}

@keyframes spinny {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}