* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: monospace;
}

body { 
    width: 75dvw;
    overflow-x: hidden;
    text-wrap: wrap;
    margin: 0 auto;
    background-color: rgb(15, 29, 6);
    color: rgb(245, 241, 236);
    overflow: hidden;
}

@media screen and (min-width: 50em) {
    body {
        display: flex;
    }
}

#navbar {
    width: 30%;
    padding: 40px 40px;
    margin-bottom: 50em;
}

 @media screen and (min-width: 50em) {
    #navbar {
        position: sticky;
        left: 0px;
        top: 0px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 0;
        margin-right: 50px;
        align-items: left;
        height: 100dvh;
        width: 40%;
    }
} 

.nav-link,
.top-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: lightgoldenrodyellow;
}

.nav-link:first-of-type {
    border: none;
}

h1 {
    padding-bottom: 50px;
}

h2 {
    color: lightcoral;
    padding-bottom: 25px;
}

p {
    padding: 7px;
    line-height: 1.5rem;
}

pre {
    text-wrap: wrap;
    padding-left: 50px;
    padding-top: 20px;
}

ul {
    padding-left: 40px;
}

.tool {
    color: lightcoral;
}

a:hover {
    color: paleturquoise;
}

.main-section {
    height: 100dvh;
    width: 80%;
    align-items: right;
    padding: 100px 40px;
    margin-bottom: 8em;
} 

.contact-photo {
    width: 90%
}

@media screen and (min-width: 50em) {
    .contact-photo {
        width: 500px;
    }
}

@media screen and (min-width: 50em) {
    .main-section {
        align-items: right;
        width: 45%
    }
}
