html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 26, 25);
  color: white;
  min-height: 100dvh;
  max-width: 99dvw;
  font-family: monospace;
  box-sizing: border-box;
}

h2 {
  font-family: "Rock Salt", monospace;
  text-align: center;
  font-size: 14px;
  color: black;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

.analog-container,
.digital-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: rgb(27, 26, 25);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.analog-container {
    background-image: url("/assets/IMG210.webp");
}

.digital-container {
    background-image: url("/assets/DIGI420.webp");
}

.nav-img {
    width: 250px;
}

.intro {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    font-size: 12px; 
    width: 85vw;
    padding: 10px 20px;
    border-bottom: 2px white solid;
}

.intro-text {
  display: inline;
}

.archive-container {
  display: flex;
  width: 90vw;
  height: 80dvh;
  margin: 0 auto;
  flex: 1 0 auto;
  flex-direction: column;
}

.tlop-logo {
  display: block;
  margin: auto;
  width: 40%;
  padding-top: 20px;
}

@media screen and (min-width: 50em), (orientation: landscape) {
  .tlop-logo {
    width: 20%;
  }
}

footer {
  margin: 10px auto;
  font-size: 10px;
  width: 85vw;
  padding: 10px 0px;
  border-top: 2px white solid;
  flex-shrink: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer > .quote {
  display: inline;
}

.footer > .footer-link {
  display: inline;
}

.copyright {
  font-style: italic;
  text-align: center;
  padding-top: 15px;
}