.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  min-height: 100dvh;
  max-width: 95dvw;
  font-family: monospace;
  box-sizing: border-box;
}

h2 {
  font-family: "Rock Salt", monospace;
  text-align: center;
  font-size: 14px;
  color: black;
}

.archive-container,
.archive-header {
  display: flex;
  width: 85dvw;
  margin: auto;
  flex: 1 0 auto;
}

.tlop-logo {
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 30px;
}

@media screen and (min-width: 50em), (orientation: landscape) {
  .tlop-logo {
    width: 30%;
  }
}

.archive-img {
  display: block;
  width: 60%;
  margin: auto;
  height: auto;
}

@media screen and (min-width: 50em) {
  .archive-img {
    width: 30%;
  }
}

.block-archive {
  margin: 0 auto;
}

footer {
  margin: 10px auto;
  font-size: 10px;
  width: 85vw;
  padding: 10px 0px;
  border-top: 2px black solid;
  flex-shrink: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer > .quote {
  display: inline;
}

.footer > .copyright {
  display: inline;
  font-style: italic;
  text-align: right;
}
