body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  max-width: 99dvw;
  font-family: monospace;
  color: white;
  box-sizing: border-box;
  background-color: rgb(27, 26, 25);
}

.gallery {
  display: flex;
  width: 97dvw;
  flex-wrap: wrap;
  margin: 0 auto;
  flex: 1 0 auto;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.archive-img {
  border: 0.5px solid rgb(27, 26, 25);
  width: 125px;
  height: 125px;
}

@media screen and (min-width: 46.8em) {
  .archive-img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 50em), (orientation: landscape) {
  .archive-img {
    width: 200px;
    height: 200px;
  }
}

.archive-img:hover {
  filter: grayscale(100%) contrast(170%);
  border-color: transparent;
}

.archive-img:active {
  filter: grayscale(100%);
  border-color: transparent;
}

.blank {
  border: 0.5px solid transparent;
}

.intro {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    font-size: 12px; 
    width: 85vw;
    padding: 10px 20px;
    border-bottom: 2px white solid;
}

.intro-text {
  display: inline;
}

.tlop-logo {
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 20px;
}


@media screen and (min-width: 50em), (orientation: landscape) {
  .tlop-logo {
    width: 30%;
  }
}


footer {
    margin: 10px auto;
    font-size: 10px; 
    width: 85vw;
    padding: 10px 0px;
    border-top: 2px white solid;
    flex-shrink: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer > .quote {
    display: inline;
}

.footer > .copyright {
    display: inline; 
    font-style: italic;
}
